/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Descargas/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_menu.scss */
nav {
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 9, ../sass/_menu.scss */
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 15, ../sass/_menu.scss */
nav > ul {
  width: 100%;
  height: 32px;
  background: #666;
  color: #eee;
}
/* line 20, ../sass/_menu.scss */
nav a {
  background: #666;
  color: #eee;
  text-decoration: none;
  width: 160px;
  padding: 7px 20px;
  display: block;
  text-align: center;
  cursor: pointer;
}
/* line 28, ../sass/_menu.scss */
nav a:hover {
  background: #888;
  color: #fff;
  -webkit-animation: iluminar 0.4s linear;
  -moz-animation: iluminar 0.4s linear;
  animation: iluminar 0.4s linear;
}

/* line 35, ../sass/_menu.scss */
ul.submenu {
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  position: absolute;
  height: 0px;
  overflow: hidden;
}

/* line 42, ../sass/_menu.scss */
li.categoria {
  float: left;
}
/* line 44, ../sass/_menu.scss */
li.categoria > a {
  -webkit-transition: padding 0.4s ease-out;
  -moz-transition: padding 0.4s ease-out;
  transition: padding 0.4s ease-out;
}
/* line 48, ../sass/_menu.scss */
li.categoria:hover > a {
  padding: 10px 20px;
}
/* line 51, ../sass/_menu.scss */
li.categoria:hover ul.submenu {
  height: 100px;
}

/* line 10, ../sass/screen.scss */
body {
  padding: 0px;
  margin: 0px;
}

/* line 15, ../sass/screen.scss */
header {
  padding: 12px 30px;
  font-size: 1.8em;
  color: #eee;
  background-color: #666;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* line 25, ../sass/screen.scss */
footer {
  background: #666;
  color: #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

@keyframes iluminar {
  from {
    background-color: #666;
    color: #eee;
  }
  to {
    background-color: #888;
    color: #fff;
  }
}
