* { margin: 0; padding: 0; }
header
{
	font-family: 'Cabin Sketch';
	height: 200px;
	background-color: #0000FF;
}

nav
{
	margin: 20px;
}

li /*Hacemos los enlaces un poco mas grandes*/
{
	font-size: 28px;
	font-family: 'Mystery Quest', cursive;
	display: inline;
	margin: 2px 10px;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{ /*Apenas se notaba el color al pasar por encima, lo cambiamos para que tenga contraste*/
	color: black;
}

main
{
	/*No se deben dejar etiquetas de css vacias*/
}

h1
{
	font-family: 'Cabin Sketch', cursive;
	line-height: 100px;
	margin-left: 20px;
}

h3
{
	font-family: 'Cabin Sketch', serif;
	font-size: 18px;
}

h2
{
	font-family: 'Cabin Sketch', sans-serif;
	font-size: 26px;
}

h4
{
	font-size: 10px;
}

p
{
	font-family: 'Mystery Quest', cursive;
	font-size: 18px;
	text-align: justify;
}

code.codigo
{
	background-color: rgba(0,0,100,0.3);
	border: solid 1px blue;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 5px;
}

article
{
	margin: 10px;
}

footer
{
	color: white;
	background-color: black;
	height: 100px;
	width: 100%;
	line-height: 100px;
}
